## Unity ##

*.cs diff=csharp text
*.cginc text
*.shader text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf


## git-lfs ##

#Image
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.psd binary
*.ai binary

#Audio
*.mp3 binary
*.wav binary
*.ogg binary

#Video
*.mp4 binary
*.mov binary

#3D Object
*.FBX binary
*.fbx binary
*.blend binary
*.obj binary

#ETC
*.a binary
*.exr binary
*.tga binary
*.pdf binary
*.zip binary
*.dll binary
*.unitypackage binary
*.aif binary
*.ttf binary
*.rns binary
*.reason binary
*.lxo binary

